<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes" class="col-1-4"
    routerLink="/heroes/{{hero.id}}"
  >
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div>

<app-hero-search></app-hero-search>
<hr>
Official one
<div *ngIf="auth.user$ | async as user; else login"> 
  {{user|json}} 
  <hr>
  <button class="button" (click)="auth.signOut()">Sign out</button>

</div>
<ng-template #login>
  <button class="button" (click)="auth.googleSignin()">Sign in</button>
</ng-template>

<hr>
<div *ngIf="!isSignedIn">
  
  <h2>Sign in</h2>
  <input type="text" #email>
  <input type="text" #password>
  <button (click)="signIn(email.value, password.value)">sign in</button>
</div>

<app-home *ngIf = "isSignedIn" (isLogout)="handleLogout()"></app-home>
<hr>